* {
  font-family: 'Poiret One', cursive;
}

body {
  background-color: grey;
}

h2 {
  font-size: 3em;
}


.page-main {
  padding: 3em;
  background: white;
}

@media screen and (min-width: 851px) {
  .page-main {
    width: 850px;
  }
}

.logo {
  max-height: 120px;
}

.feat-box {
  margin-bottom: 2em;
}

.feat-img {
  max-width: 85%;
  margin: auto;
}
